#!/bin/sh
#
# File: .aliases
# Description:
#   contains all aliases defined by the user. Separated from shell rc files
#   for portability between different machines.
#   Avoid syntax and commands not portable to other different setups,
#   check out http://hyperpolyglot.org/unix-shells for more information

# checks if argument exists in path
alias exists='command -v &>/dev/null'

# ls output
alias l='ls --color=always -h --dereference-command-line-symlink-to-dir'
alias ll='l -lF'
alias la='l -A'
alias lla='ll -AF'
# order of output: symbols, UPPERCASE, lowercase
alias lac='LC_COLLATE=C la'
alias lf='LC_COLLATE=C ls --group-directories-first' # folders first
alias lfa='lf -A'

# safe copy, move and delete
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -I'

# directories
alias mkdir &>/dev/null && unalias mkdir # remove nocorrect (oh-my-zsh)
alias md='mkdir -p'
alias rd='rmdir'
[[ -d /C ]] && alias sistema='cd /C'
[[ -d /D ]] && alias dades='cd /D'

# hdd
alias df='df -h'
alias du='du -h'
alias dus='du -s *'
alias duss='dus | sort -h'

# preserve environment (-E option) when login as root
alias sudoas='sudo -E -s'

## git

alias ga.='git add .'
alias gap='git add -p'

# git fetch
alias gf='git fetch --prune'
alias gfa='gf --all'

# git push
alias gp='git push'
alias gpa='git push --all'
alias gpf='git push --force'
alias gpfa='git push --force --all'
# prune remote branches
alias gpp='git push --prune --all'

# git pretty log
alias gl='git log --oneline --graph --decorate --color'
alias gla='gl --all'


## utilities

# open with system default application
alias o='xdg-open &>/dev/null'
alias o.='o .'

# stdin to clipboard
alias xclip='xclip -selection c'

# enable advanced calculation in bc by default
alias bc='bc -l'

# does that ring a bell?
alias bell="echo -n $'\x7'"

# PHP
alias composer='composer.phar'
alias phpserve='php -S localhost:8888'
