#!/bin/sh
#
# File: .aliases
# Description:
#   contains all aliases defined by the user. Separated from shell rc files
#   for portability between different machines.
#   Avoid syntax and commands not portable to other different setups,
#   check out http://hyperpolyglot.org/unix-shells for more information


# ls output
alias l='ls --color=always -hF --dereference-command-line-symlink-to-dir'
alias ll='l -l'
alias la='l -A'
alias lla='ll -A'
# order of output: symbols, UPPERCASE, lowercase
alias lac='LC_COLLATE=C la'
alias lf='LC_COLLATE=C ls --group-directories-first' # folders first
alias lfa='lf -A'

# # verbose copy, move and delete
# alias cp='cp -v'
# alias rm='rm -v'
# alias mv='mv -v'

# directories
alias mkdir &>/dev/null && unalias mkdir # remove nocorrect (oh-my-zsh)
alias md='mkdir -p'
alias rd='rmdir'
[[ -d /C ]] && alias sistema='cd /C'
[[ -d /D ]] && alias dades='cd /D'

# hdd
alias df='df -h'
alias du='du -h'

# enable alias expansion after sudo (trailing space)
alias sudo='sudo '
# preserve environment (-E option) when login as root
alias sudoas='sudo -E -s'

# git pretty log
alias gl='git log --oneline --graph --decorate --color'
alias gla='gl --all'


## utilities

# open with system default application
alias o='xdg-open &>/dev/null'
alias o.='o .'

# checks if argument exists in path
alias exists='command -v &>/dev/null'

# stdin to clipboard
alias xclip='xclip -selection c'

# enable advanced calculation in bc by default
alias bc='bc -l'

# does that ring a bell?
alias bell="echo -n $'\x7'"

# fib
alias fib-on='sudo /etc/init.d/fibvpn-start'
alias fib-off='sudo /etc/init.d/fibvpn-stop'

# android
exists logcat-color.py && alias logcat='noglob logcat-color.py'

# PHP
alias composer='composer.phar'
alias laravel='laravel.phar'
alias phpserve='php -S localhost:8888'
