[user]
	name = Marc Cornellà
	email = marc.cornella@live.com

[alias]
	remotes = remote -v

[color]
	ui = true

[push]
	default = simple

[core]
	pager = less -FX

[help]
	autocorrect = 1

[sendemail]
	from = Marc Cornellà <marc.cornella@live.com>
	smtpserver = smtp.gmail.com
	smtpuser = spencer282@gmail.com
	smtppass = brjwredgoaxgiyhk
	smtpencryption = tls
	chainreplyto = false
	smtpserverport = 587
