[submodule "oh-my-zsh"]
	path = ohmyzsh
	url = ../../mcornella/ohmyzsh.git
	branch = master
[submodule "ohmyzsh-custom/plugins/git-prompt"]
	path = ohmyzsh-custom/plugins/git-prompt
	url = ../../woefe/git-prompt.zsh.git
	branch = master
[submodule "ohmyzsh-custom/plugins/fast-syntax-highlighting"]
	path = ohmyzsh-custom/plugins/fast-syntax-highlighting
	url = ../../zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh-no-ps2"]
	path = ohmyzsh-custom/plugins/zsh-no-ps2
	url = ../../romkatv/zsh-no-ps2.git
