[user]
	name = Marc Cornellà
	email = marc.cornella@live.com

[alias]
	logc = log --oneline --graph --decorate --color
	remotes = remote -v

[color]
	ui = true

[push]
	default = simple

[core]
	pager = less -FX

[help]
	autocorrect = 1
