[user]
	name = Marc Cornellà
	email = marc.cornella@live.com

[alias]
	logc = log --oneline --graph --decorate --color

[color]
	status = auto
	diff = auto

[push]
	default = simple

[core]
	pager = less -FX
